<div class="add-element">
  <button class="button-new" mat-raised-button aria-label="add" (click)="enterAddMode()">
    <mat-icon>add</mat-icon>
    Add new product
  </button>
  @if (show$ | async) {
<div>
    <form [formGroup]="addForm" class="add-form">
      <mat-form-field appearance="outline">
        <mat-label>Enter name</mat-label>
        <input matInput class="add-input" formControlName="name" required>
        @if (addForm.controls['name'].invalid) {
<mat-error>{{getErrorRequiredMessage()}}</mat-error>
}
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter description</mat-label>
        <input matInput class="add-input" formControlName="description" >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter price</mat-label>
        <input matInput class="add-input" formControlName="price" required>
        @if (addForm.controls['price'].invalid) {
<mat-error>{{getErrorRequiredMessage()}}</mat-error>
}
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ingredients</mat-label>
        <mat-select formControlName="ingredients" required multiple (selectionChange)="onIngredientsSelectionChange($event)">
          <mat-select-trigger>
            {{ getSelectedIngredientsView() }}
            @if ((selectedIngredients.length || 0) > 1) {
              <span class="example-additional-selection">
          (+{{(selectedIngredients.length || 0) - 1}} {{selectedIngredients.length === 2 ? 'other' : 'others'}})
        </span>
            }
          </mat-select-trigger>
          @for (ingredient of chooseIngredients; track ingredient) {
            <mat-option [value]="ingredient.value">{{ingredient.viewValue}}</mat-option>
          }
        </mat-select>
        @if (addForm.controls['ingredients'].invalid) {
<mat-error>{{getErrorRequiredMessage()}}</mat-error>
}
      </mat-form-field>

      <!--      <mat-form-field appearance="outline">-->
<!--        <mat-label>Enter ingredients</mat-label>-->
<!--        <input matInput class="add-input" formControlName="ingredients" required>-->
<!--        <mat-error *ngIf="addForm.controls['ingredients'].invalid">{{getErrorRequiredMessage()}}</mat-error>-->
<!--      </mat-form-field>-->

<!--      <div class="add-product">-->
<!--      <mat-form-field appearance="outline">-->
<!--        <mat-label>Ingredients</mat-label>-->
<!--        <mat-select formControlName="ingredients" required>-->
<!--          <mat-option *ngFor="let ingredient of chooseIngredients" [value]="ingredient.value">{{ ingredient.viewValue }}</mat-option>-->
<!--        </mat-select>-->
<!--        <mat-error *ngIf="addForm.controls['ingredients'].invalid">{{getErrorRequiredMessage()}}</mat-error>-->
<!--      </mat-form-field>-->

<!--      <button mat-button class="submit" (click)="addIngredient()"> + </button>-->
<!--      </div>-->

      @if (isInAddMode$ |async) {
<button mat-button class="submit" [disabled]="!addForm.valid" (click)="addProduct()">Add</button>
}
      @if (isInEditMode$ | async) {
<button mat-button class="submit" [disabled]="!addForm.valid" (click)="editProduct()">Edit</button>
}
    </form>
  </div>
}
</div>
