<div class="add-element">
  <button class="button-new" mat-raised-button aria-label="add" (click)="show = !show">
    <mat-icon>add</mat-icon>
    Add new distributor
  </button>
  @if (show) {
<div>
    <form [formGroup]="addForm" class="add-form">
      <mat-form-field appearance="outline">
        <mat-label>Enter first name</mat-label>
        <input matInput class="add-input" formControlName="first_name" required>
        @if (addForm.controls['first_name'].invalid) {
<mat-error>{{getErrorRequiredMessage()}}</mat-error>
}
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter last name</mat-label>
        <input matInput class="add-input" formControlName="last_name" required>
        @if (addForm.controls['last_name'].invalid) {
<mat-error>{{getErrorRequiredMessage()}}</mat-error>
}
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter phone number</mat-label>
        <input matInput class="add-input" placeholder="+373 000 000 000" formControlName="telephone" required>
        @if (addForm.controls['telephone'].invalid) {
<mat-error>{{getErrorRequiredMessage()}}</mat-error>
}
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter email</mat-label>
        <input matInput class="add-input" placeholder="email@example.com" formControlName="email" required>
        @if (addForm.controls['email'].invalid) {
<mat-error>{{getErrorEmailMessage()}}</mat-error>
}
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter distributed product</mat-label>
        <input matInput class="add-input" formControlName="distributed_product" required>
        @if (addForm.controls['distributed_product'].invalid) {
<mat-error>{{getErrorRequiredMessage()}}</mat-error>
}
      </mat-form-field>

      <button mat-button class="submit" [disabled]="!addForm.valid"(click)="add()">Add</button>
    </form>
  </div>
}
</div>
