<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
    </ng-container>

    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name</th>
      <td mat-cell *matCellDef="let element"> {{element.customer}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
      <td mat-cell *matCellDef="let element" > {{element.orderDate | date}} </td>
    </ng-container>

<!--    <ng-container matColumnDef="products">-->
<!--      <th mat-header-cell *matHeaderCellDef> Products </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.products[0].name}} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="quantity">-->
<!--      <th mat-header-cell *matHeaderCellDef> Quantity</th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.products[0].quantity}} </td>-->
<!--    </ng-container>-->

    <ng-container matColumnDef="products">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  Products </th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let product of element.products">
          {{ product.name }} - {{ product.quantity }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price</th>
      <td mat-cell *matCellDef="let element"> {{element.totalPrice | mdlCurrency}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="customer-button" *matCellDef="let element">
        <button mat-button aria-label="edit" (click)="edit_item(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="customer-button" *matCellDef="let element">
        <button mat-button aria-label="delete" (click)="delete_item(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page">
  </mat-paginator>
</div>
