<div class="add-element">
  <button
    class="button-new"
    mat-raised-button
    aria-label="add"
    (click)="enterAddMode()"
  >
    <mat-icon>add</mat-icon>
    Add new order
  </button>
  @if (show$ | async) {
  <div>
    <form [formGroup]="addForm" class="add-form">
      <mat-form-field appearance="outline">
        <mat-label>Customer</mat-label>
        <mat-select formControlName="customer" required>
          @for (customer of customers; track customer) {
          <mat-option [value]="customer.value">{{
            customer.viewValue
          }}</mat-option>
          }
        </mat-select>
        @if (addForm.controls['customer'].invalid) {
        <mat-error>{{ getErrorRequiredMessage() }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Products</mat-label>
        <input matInput [value]="inputValue" disabled />
      </mat-form-field>
      <button mat-raised-button class="submit" (click)="openDialog()">
        Add products
      </button>

      <mat-form-field class="date" appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          placeholder="DD/MM/YYYY"
          [matDatepicker]="picker"
          formControlName="date"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      @if (isInAddMode$ | async) {
      <button
        mat-button
        class="submit"
        [disabled]="!addForm.valid || products$.getValue().length < 1"
        (click)="addOrder()"
      >
        Add
      </button>
      } @if (isInEditMode$ | async) {
      <button
        mat-button
        class="submit"
        [disabled]="!addForm.valid || products$.getValue().length < 1"
        (click)="editOrder()"
      >
        Edit
      </button>
      }
    </form>
  </div>
  }
</div>
