* {
  background: #282a2e;
  color: #DBDFEA;
}

section {
  width: 100%;
  background: #282a2e;
  padding: 10px 50px 50px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
