@mixin mainStyles {
  :host {

    * {
      background: #24263A;
      color: #DBDFEA;
    }

    section {
      width: 100%;
      background: #1D1E2C;
      padding: 10px 50px 50px 50px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    table {
      width: 100%;
    }

    input {
      background: #1D1E2C;
    }

    .mat-header-cell {
      font-size: 15px;
      font-weight: bold;
    }

    .mat-row .mat-cell {
      border-bottom: 1px solid #1D1E2C;
      border-top: 1px solid #1D1E2C;
    }

    .mat-row:hover .mat-cell {
      border-bottom: 1px solid #2d4963;
      border-top: 1px solid #2d4963;
      cursor: pointer;
    }

    .mat-button:hover .mat-icon {
      color: grey;
    }

    .mat-form-field {
      background: none;
    }

    .customer-button {
      width: 10px;
    }

    .button-new {
      padding: 10px 15px;
      width: 200px;
    }

    .add-element {
      background: #1D1E2C;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .add-form {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;
      background: #1D1E2C;
    }

    .submit {
      background: #24263A;
      height: 40px;
      margin-bottom: 15px;
    }

    .mat-input-element::placeholder {
      color: grey;
    }

    .mat-error {
      background: #1D1E2C;
    }
  }
}
