:root {
  --primary: #43a047;
  --text-color: #fff;
  --background: #016429;
  --background2: #042b23;

  --white: #fff;
  --black: #2e2e2e;

  --success: #388e3c;
  --error: #ff6666;
  --info: #66a3ff;
  --warning: #FFEE8A;
}
