/* You can add global styles to this file, and also import other style files */
@import "app/shared/styles/variables";


* {
  padding: 0;
  margin: 0;
  color: #DBDFEA;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181d26;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #515459;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b3f45;
}

.snackbar {
  --mdc-snackbar-container-color: var(--info);
  --mat-snack-bar-button-color: var(--warning);
  --mdc-snackbar-supporting-text-color: var(--white);
}
