<div class="add-element">
  <div class="add-button-wrapper">
    <button class="button-new" mat-raised-button aria-label="add" (click)="enterAddMode()">
      <mat-icon>add</mat-icon>
      Add new employee
    </button>
  </div>
  @if (show$ | async) {
<div>
    <form [formGroup]="addForm" class="add-form">
      <mat-form-field appearance="outline">
        <mat-label>Enter first name</mat-label>
        <input matInput class="add-input" formControlName="firstName" required>
        @if (addForm.controls['firstName'].invalid) {
<mat-error>{{getErrorRequiredMessage()}}</mat-error>
}
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter last name</mat-label>
        <input matInput class="add-input" formControlName="lastName" required>
        @if (addForm.controls['lastName'].invalid) {
<mat-error>{{getErrorRequiredMessage()}}</mat-error>
}
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter phone number</mat-label>
        <input matInput class="add-input" placeholder="+373 000 000 000" formControlName="phone" required>
        @if (addForm.controls['phone'].invalid) {
<mat-error>{{getErrorRequiredMessage()}}</mat-error>
}
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter email</mat-label>
        <input matInput class="add-input" placeholder="email@example.com" formControlName="email" required>
        @if (addForm.controls['email'].invalid) {
<mat-error>{{getErrorEmailMessage()}}</mat-error>
}
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter address</mat-label>
        <input matInput class="add-input" formControlName="address" required>
        @if (addForm.controls['address'].invalid) {
<mat-error>{{getErrorRequiredMessage()}}</mat-error>
}
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter salary</mat-label>
        <input matInput class="add-input" formControlName="salary" required>
        @if (addForm.controls['salary'].invalid) {
<mat-error>{{getErrorRequiredMessage()}}</mat-error>
}
      </mat-form-field>

      @if (isInAddMode$ |async) {
<button mat-button class="submit" [disabled]="!addForm.valid" (click)="addEmployee()">Add</button>
}
      @if (isInEditMode$ | async) {
<button mat-button class="submit" [disabled]="!addForm.valid" (click)="editEmployee()">Edit</button>
}
    </form>
  </div>
}
</div>
